.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100dvh;
  background-color: var(--white);
}

.message {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-500);
}
