@use "styles/mixins" as *;

.header {
  @include flex-between;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0 16px;
  height: 56px;
  background-color: #ffffff;
}

.transparent {
  background-color: inherit;
  border-bottom: none;
}

.backButton {
  @include icon-box(40px);
  margin-left: -8px;

  &:active {
    background-color: var(--grey-100);
  }

  svg {
    color: var(--grey-900);
  }
}

.placeholder {
  width: 40px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: var(--grey-900);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right {
  width: 40px;
  @include flex-end;
}
