.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadow-card);
}

.clickable {
  cursor: pointer;
  transition: transform 0.15s;

  &:active {
    transform: scale(0.99);
  }
}
