@use "styles/mixins" as *;

.container {
  flex: 1;
  height: 100%;
  @include flex-col-center(8px);
  background-color: var(--grey-100);
}

.emoji {
  font-size: 36px;
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-500);
}

.titleError {
  color: var(--error);
}

.desc {
  font-size: 12px;
  color: var(--grey-400);
}
