@use "styles/mixins" as *;

.page {
  @include page-base;
}

.notFound {
  height: 100%;
  background-color: var(--white);
  @include flex-center;
  color: var(--grey-400);
}

.headerButton {
  @include icon-box(36px);

  &:active {
    background-color: var(--grey-100);
  }
}

.headerButtons {
  @include flex-row(4px);
}
