@use "styles/mixins" as *;

.pathPlaceholder {
  width: 100%;
  background-color: var(--grey-100);
  border-radius: 16px;
  padding: 20px 16px;
  @include flex-col-center(6px);
  border: 1.5px dashed var(--grey-300);
  transition: background-color 0.12s;

  &:active {
    background-color: var(--grey-200);
  }
}

.pathPlaceholderIcon {
  @include icon-box(48px);
  background-color: var(--primary-light);
  color: var(--primary);
  margin-bottom: 2px;
}

.pathPlaceholderText {
  font-size: 15px;
  font-weight: 700;
  color: var(--grey-800);
}

.pathPlaceholderSub {
  font-size: 13px;
  color: var(--grey-400);
}
